<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Iris Flower Classification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container" style="text-align: center; margin-top: 50px;">
        <h1>Welcome to the Iris Flower Classification</h1>
        <p>Click the button below to predict the species of an Iris flower.</p>

        <!-- Updated the link to match the route defined in app.py -->
        <a href="/predictdata" class="btn btn-primary">Go to Iris Flower Classification</a>
    </div>

</body>

</html>
